* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #d6d6d6;
}

/*    Boot CSS   */

.center {
    idth: 100%;
    max-width: 1680px;
    min-width: 800px;
    margin: 0 auto;
    padding: 1px;
}

.flex {
    display: flex;
}

.align-flex-center {
    align-items: center;
    justify-content: center;
}


.align-flex-end {
    justify-content: flex-end;
    align-items: flex-end;
}


/*   FIM BOOT CSS   */

header {
    width: 100%;
    max-width: 1450px;
    min-width: 800px;
    background-color: #131921;
    color: #fff;
    padding: 1px 20px;
}


img:hover {
    outline: 1px solid #fff;
    border-radius: 1px;
}

img {
    margin: 5px 5px auto;
    max-width: 100px;
    width: 150px;
    height: 53px; 
    cursor: pointer;
}

.todos-nav {
    width: 70px;
    font-size: 12px;
    border-radius: 4px 0 0 4px;
    border: none;
    color: rgb(44, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6d6d6;
}

.sort-down {
    margin-left: 3px;
    margin-bottom: 5px;
}

.input-search {
    display: flex;
    width: 50%;
    padding: 0 12px;
}


.input-search form {
    display: flex;
  
    width: 100%;
}




.input-search input[type=text] {
    width: calc(100% - 40px);
    border: none;
    height: 40px;
}

.input-search button {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: #FEBD68;
}

.text-info-header {
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
}

.text-ola {
    color: #ccc;
    padding:  11px;
}

.text-info-header:hover {
   outline: 1px solid #fff;
   border-radius: 1px;
}

.text-info-header p {
    white-space: nowrap;
}

.navigation {
    width: 100%;
    max-width: 1450px;
    min-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232f3e;
    color: #fff;
    font-size: 13px;
    padding: 10px;
}
.navigation i {
    margin: 5px;
   ;
}


.carousel {
    width: 100%;
    max-width: 1450px;
    min-width: 800px;
    background-color: yellow;
}

figure {
    background-image: url(../img/slider1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 1450px;
    min-width: 800px;
    height: 500px;
}


.fa-angle-left {
    font-size: 4rem;
    margin: 110px 0  0 30px;
}

.fa-angle-right {
    font-size: 4rem;
    margin: 110px 0  0 30px;
   
}

.cardes {
    width: 100%;
    height: 400px;
    display: flex;

}

.kindle {
    margin: 50px 20px;
    padding: 5px ;
    isplay: flex;
    width: 18%;
    min-width: 300px;
    height: 400px;
    background-color: white;
}

.kindle h2 {
    font-size: 20px;
    padding: 18px;
}

.kindle img {
    display: flex;
}

.kindle p {

    color: gray;
    font-size: 12px;
}
arousel ~ pan {
    color: #fff;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s;
    color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0;
}

carousel ~ pan {
    color: black;
    margin: 3%;
    display: inline-block;
    text-decoration: none;
    font-size: 5rem;
    transition: 0.6s;
    color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0;
}

carousel ~ span:hover {
    color: rgb(123, 117, 117);
    cursor: pointer;   
}
/*  section 1  */

vitrine {
    min-height: 600px;
    width: 100%;
    max-width: 1450px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    
    
}

box-vitrine {
    position: relative;
    width: 23.4%; 
    top: 15px;
    background-color: #fff; 
    padding: 15px; 
    
}

box-vitrine a {
    color: #069;
    font-size: 13px;
}


box-vitrine img {
    width: 100%;
}


