@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    background-color: #eaeded;
    box-sizing: border-box;
}

.first {
    width: 100%;
    min-width: 1030px;
    height: 65px;
    background-color: #131a22;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first img {
    width: 165px;
    padding: 5px 10px;
    height: 42px; 
    cursor: pointer;
 }

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex span, i {
    color: #fff;
}

.logo {
  flex: -1;
  margin-right: -75px;
  justify-content: space-between;
}

.map {
   border-radius: 3px;
   font-size: 14px;
}

.map i {
    margin-top: 25px;
    padding-left: 5px;
    font-size: 17px;
}

.map div {
  padding: 5px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}

.map div span:first-child {
    font-weight: 400;
    font-size: 12px;
    color: #ccc;
}

.map div span {
   font-weight: bold;
}

.right {
   justify-content: space-between;
   margin-right: 3px;
   align-items: center;
   padding: 5px;
   display: flex;
   cursor: pointer;
}

.input {
    width: 100%;
    background-color: #fff;
    flex: 0.98;
    border-radius: 3px;
    display: flex;
    margin-left: 85px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.input input {
   outline: none;
   width: 80%;
   font-size: 16px;
   padding: 10px 2px;
   border: none;

}

.input .fa-search {
   color: rgb(51, 51, 51);
   padding: 12.2px 15px;
   font-size: 20px;
   cursor: pointer;
   background-color: #febd69;
   border-radius: 0 3px 3px 0;
}

.input div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid gray;
    background-color: rgb(236, 234, 234);
    padding: 6px 0;
    font-size: 12px;
}

.input div span {
  border-radius: 3px 0 0 3px;
  color: rgb(51, 51, 51);
  padding: 6px 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 1px;
}

.input .fa-caret-down {
    color: rgb(51, 51, 51);
    cursor: pointer;
    padding: 5px;
}

.sing {
    display: flex;
    flex-direction: column;
    padding: 3px 18px;
}

.sing span:first-child {
    font-weight: 400;
    font-size: 12px;
    
}
.sing span {
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

.flex .ac span {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}

.fa-cart-arrow-down {
    font-size: 30px;
}

.ca {
    font-size: 14px;
    font-weight: bold;
}

.cart {
   align-items: flex-end;
   position: relative;
   padding: 5px 10px;
}

.cart p {
   color: #f08804;
   position: absolute;
   font-weight: bolder;
   top: 1px;
   left: 24px;
   
}

.cart:hover {
    outline: 1px solid #fff;
    border-radius: 2px;
}

.logo img:hover {
    outline: 1px solid #fff;
    border-radius: 2px;
}

.map:hover {
    outline: 1px solid #fff;
    border-radius: 2px;
}

.sing:hover {
    outline: 1px solid #fff;
    border-radius: 2px;
}

.input .fa-search:hover {
    background-color: #fdae46;
}

.input div:hover {
    background-color: rgb(204, 204, 202);
    color: black;
}

.second {
width: 100%;
min-width: 1030px;
height: 42px;
background-color: #232f3e;
display: flex;
align-items: center;
color: #fff;
overflow: hidden;
font-size: 14px;
}

.second ul {
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.second span {
  font-size: 15px;
}

.second-1 div i {
    font-size: 20px;
    cursor: pointer;
   
}

.second li {
    padding: 5px 10px;
    font-size: 15px;
    margin: 7px 0;
    font-weight: 400;
    cursor: pointer;
}

.second-1 {
    flex: 0.06;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-1 div {
    display: flex;
    align-items: center;
    padding: 8px;
}

.second-2 {
    flex: 1.;
    display: flex;
    justify-content: flex-start;
}

.second-3 {
    display: flex;
    justify-content: flex-end;
    margin-right: 17px;
    overflow: hidden;
}

.second-3 span {
  padding: 5px 10px;
  cursor: pointer;
}

.second-3 span {
    outline: 1px solid #fff;
}
.second-1 div:hover {
    outline: 1px solid #fff;
}
.second-2 li:hover {
    outline: 1px solid #fff;
}

.second-3 span:hover {
    outline: 1px solid #fff;
}
.second-1 div span {
   padding: 5px;
}

.sec-1 {
    position: relative;
    width: 100%;
    height: 1190px;
    box-sizing: border-box;
}

.slider img {
    width: 1360px;
    min-width: 1360px;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
}

.slider {
    width: 100%;
    min-width: 1030px;
    overflow: hidden;
    height: 560px;
}

.image-box {
    display: flex;
    position: absolute;
    animation: carousel 15s alternate infinite;
}
@keyframes carousel {
    0%{
        left: 0;
    }
    20%{
        left: 0%;
    }
    24%{
        left: -1360px;
    }
    42%{
        left: -1360px;
    }
    46%{
        left: calc(-1360*2px);
    }
    62%{
        left: calc(-1360*2px);
    }
    66%{
        left: calc(-1360*3px);
    }
    82%{
        left: calc(-1360*3px);
    }
}